th:not(.CalendarDay),
td:not(.CalendarDay) {
  padding: 0;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; 
}

.panel-title {
  color: white;
  font-style: italic;
  background-color: black;
  margin: 0;
  padding: 0.2em;
}

.panel-container {
  margin: 3px;
  padding: 3px;
}
